node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

config.json
data/

*.sqlite
*.sqlite-shm
*.sqlite-wal
*.db
*.db-shm
*.db-wal

*.log
*.tmp
*.temp
.env
.env.*

.DS_Store
Thumbs.db
